<div class="container">
    <div class="row align-items-center mt-5">
        <div class="col-md-4 offset-md-4">
            <h5 class="card-header text-center py-md-4 bg-os-green text-white">Forgot password?</h5>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-body pb-5">
                    <form>
                        <div class="form-group">
                            <label for="loginEmail">Enter email to reset your password</label>
                            <input type="email" class="form-control" id="loginEmail" ng-model="resetEmail" placeholder="Email">
                        </div> 
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-os-green col-12" ng-click="resetPassword()">Reset</button>
                            </div>
                            <div class="col-md-6">
                                <a href="#!/login" class="btn btn-secondary col-12">Cancel</a>
                            </div>  
                        </div>
                        <h6 ng-if="success" class="mt-2 form-text text-success">
                            A reset email has been sent! Please check your email.
                        </h6>
                        <h6 ng-if="msgError" class="mt-2 form-text text-danger">
                            Something went wrong, please try again!
                        </h6>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>    