<receptionist-sidebar first-name="{{first_name}}"></receptionist-sidebar>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Edit Profile</h1>
    </div>
    <form class="col-md-8 ml-5 mt-5" style="text-align: center;">
        <div class="form-group row">
            <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-6">
                <input type="text" ng-value="user.first_name"  class="form-control" id="firstName" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-6">
                <input type="text" ng-model="user.last_name" class="form-control" id="lastName" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-6">
                <input type="text" ng-model="user.address"class="form-control" id="inputAddress" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="phoneNumber" class="col-sm-2 col-form-label">Telephone</label>
            <div class="col-sm-6">
                <input type="text" ng-model="user.phone_number" class="form-control" id="phoneNumber" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="dateOfBirth" class="col-sm-2 col-form-label">Date of birth</label>
            <div class="col-sm-6">
                <input type="date" ng-model="user.date_of_birth" class="form-control" id="dateOfBirth" disabled>
            </div>
        </div>
        </div>
        <h6 ng-if="successfulUpdate" class="form-text text-success col-sm-6 offset-2">
            Profile was updated successfully!
        </h6>
        <h6 ng-if="msgErrorUpdate" class="form-text text-danger col-sm-6 offset-2">
            Something went wrong, please try again!
        </h6>
        <div class="form row mt-5">
            <div class="col-sm-2 offset-4">
                <button type="submit" ng-click="updateProfile()" class="btn btn-primary btn-os-green btn-lg btn-block">Save</button>
            </div>
            <div class="col-sm-2 float-right">
                <a href="#!/staff">
                    <button type="button" class="btn btn-secondary btn-lg">Cancel</button>
                </a>
            </div>
        </div>
    </form>
</main>